/* 設定視窗寬高及比例 */
:root{
    --minMainHeaderHeight: 100vh;
}

/* 手機版面() */
body{
    font-size: 4.27vw;
}

/* 設定100vh讓首頁在不同長度的手機都滿版，同時設定min-heigh避免高度過短跑版 */
.mainNav{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    height: 100vh;
    min-height: var(--minMainHeaderHeight);
    position: absolute;
    top: 0;
    left: 0;
}
#menuControl{
    position: absolute;
    opacity: 0;
}
.navLogoBlock{
    box-sizing: border-box;
    width: 84.53vw;
    border: 1px solid #ccc;
}
.navLogo{
    /* width % 因為box-sizing: border-box 要扣掉padding，為了更直觀的計算改為向外margin撐開空間 */
    width: 57.41%;
    margin: 3.15% 0% 3.15% 1.89%;
}
.navLogo img{
    width: 100%;
    vertical-align: middle;
}
.menuButton{
    position: relative;
    box-sizing: border-box;
    width: 15.47vw;
    border: 1px solid #ccc;
}
.menuButton span{
    opacity: 0;
}

/* 手機版面變化範圍不至於太影響到menuButton線條，所以固定大小 */
.menuButton::after{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 28px;
    height: 2px;
    background-color: #fff;
}
.menuButton::before{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-400%);
    width: 18px;
    height: 2px;
    background-color: #fff;
    box-shadow: 0px 14px 0px #fff;
}

/* 若父層有設定z-index，則沿用父層的z-index，使得自身設定的變成在同層相比，實例情況下若設定z-index讓下方h1高於父層，則h1一定蓋到fix的版面，若不指定層級則不會有這個現象 */
.navMenu{
    position: fixed;
    inset: 0;
    z-index: 2;
    display: none;
    background-color: #fff;
}
#menuControl:checked ~ .navMenu{
    display: flex;
    flex-direction: column;
}
.menuButtonClose{
    position: absolute;
    top:0;
    right: 0;
    width: 58px;
    height: 58px;
}
.menuButtonClose span{
    opacity: 0;
}
.menuButtonClose::after{
    content: url(img/asset\ 31.svg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.menuLogo{
    flex-grow: 1;
    display: flex;
    align-items: center;
    width: 74.67%;
    /* margin要扣掉圖片白邊，才能對齊 */
    margin-left: 4%;
}
.menuLogo img{
    width: 100%;
}
.navMenu a{
    display: block;
    padding: 8% 6.4%;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    color: red;
    font-size: 0.8em;
    font-weight: 500;
}
.navMenu a span{
    display: block;
    color: #000;
    font-size: 1.75em;
    padding-top: 0.5em;
    font-weight: 600;
}

/* 用inline-block處理區塊超連結橫排，用margin無法完美填滿整個區塊(微調還是有空白)，用font-size:0，會影響後面使用相對單位(em)，所以改用flex處理。 */
.RecruitBlock{
    display: flex;
}

/* 位於menu層的因為父層用fix撐開滿版，所以直接設定width: 50%有作用 */
.RecruitBlock a{
    box-sizing: border-box;
    width: 50%;
    color: #fff;
    font-size: 1.25em;
    border: none;
    padding: 7.2% 0% 4.27%;
    text-decoration: none;
    text-align: center;
}
.newGraduate{
    background-color: #c90129;
}
.midCareer{
    background-color: #7d011a;
}
.decoArrow{
    width: 55px;
    aspect-ratio: 10 / 1;
    clip-path: polygon(72.73% 0%, 100% 100%, 0% 100%, 0% 81.82%, 72.73% 81.82%);
    z-index: 2;
    background-color: #fff;
}
.RecruitBlock .decoArrow{
    width: 38.7%;
    margin: 2px auto;
}


/* 位於nav層的並未指定寬度，所以在調整解析度時不會滿版(寬度由內容撐開)，要設定寬度 */
.navRecruitBlock{
    width: 100%;
}

/* ------------------------------------------------------------------------- */

/* 設定100vh讓首頁在不同長度的手機都滿版，同時設定min-heigh避免高度過短跑版 */
.mainHeader{
    height: 100vh;
    min-height: var(--minMainHeaderHeight);
    padding: 90% 0% 0%;
    box-sizing: border-box;
}

/* 設定絕對定位，將圖片抽離原本層級，並設定z-index，避免覆蓋到前方的nav*/
.headerBackground{
    width: 100%;
    height: 100vh;
    min-height: var(--minMainHeaderHeight);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
}
.headerBackground img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* 設定相對定位，將文字抽離原本層級，使這個原始碼於後方的物件會蓋在前方的nav上*/
.mainTitle{
    position: relative;
    padding: 0% 8.53%;
}
.mainTitle span[lang='en']{
    font-size: 0.88em;
    font-weight: 800;
    color: #fff;
}
.mainTitle span[lang='en'] span{
    color: #c90129;
    padding-left: 0.3em;
}
.mainTitle span[lang='ja']{
    display: block;
    font-size: 2.25em;
    font-weight: 900;
    line-height: 1.3em;
    color: #fff;
    padding-top: 8%;
    text-indent: -1em;
}
.mainTitle span[lang='ja'] span{
    display: block;
    text-indent: 0em;
}

/* ------------------------------------------------------------------------- */

.section{
    padding: 0% 4.27%;
}
.section:nth-child(2n+1){
    background-color: #201952;
    color: #fff;
}
.section:nth-child(2n){
    color: #201952;
}
.sectionOurCases .titleBlock{
    position: sticky;
    top: 0px;
    left: 0px;
    border: solid rgba(238, 238, 238, 0.5);
    border-width: 0px 1px 0px 1px;
}
.titleBlock{
    padding: 21.33% 4.27% 72%;
}
.titleBlock h2{
    display: flex;
    align-items: center;
    font-size: 1em;
    font-weight: 700;
    color: red;
    padding-bottom: 10.67%;
}
.titleBlock h2::after{
    content: '';
    width: 29.33%;
    height: 1px;
    background-color: #ccc;
    margin-left: 2em;
}
.decoTitle{
    font-size: 3.75em;
    font-weight: 900;
    line-height: 1.4em;
    padding-bottom: 18.67%;
}
.decoTitle span{
    display: block;
}
.casesDescription{
    font-size: 1em;
    font-weight: 700;
    line-height: 2em;
}
.casesSlogan{
    display: none;
}
.casesDemoBlock{
    position: relative;
    z-index: 1;
}
.casesSample:not(:first-child){
    margin-top: 50.67%;
}
.casesSample img{
    width: 100%;
}
.casesSample figcaption{
    font-size: 1.375em;
    font-weight: 700;
    color: red;
    padding: 3px 4.27%;
}
.casesSample figcaption span{
    font-size: 0.7em;
    font-weight: normal;
    float: right;
    color: #fff;
    line-height: 1.375em;
}
.casesInsertPicture{
    position: relative;
    left: -5.33%;
    padding-top: 75%;
}
.casesInsertPicture img{
    width: 100%;
}

/* ------------------------------------------------------------------------- */
.sectionOurJobs{
    padding: 0% 0% 0% 4.27%;
}
.sectionOurJobs .titleBlock{
    padding: 21.33% 0% 0% 0%;
}
.sectionOurJobs .decoTitle{
    padding: 0;
}
.departmentInfoBlock{
    display: flex;
    flex-direction: column;
    padding: 10.67% 0%;
}
.departmentInfo{
    position: relative;
    box-sizing: border-box;
    border-bottom: 1px solid #fff;
}
.departmentInfoLink{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 6.69% 0% 0% 4.46%;
    text-decoration: none;
    color: #fff;

}
.departmentTitle{
    flex-grow: 1;
}
.departmentTitle span[lang='en']{
    font-size: 0.75em;
    font-weight: 600;
}
.departmentTitle span[lang='ja']{
    display: block;
    padding: 9.56% 0%;
    font-size: 1.375em;
    font-weight: 800;
}
.departmentInfoLink .decoArrow{
    width: 16%;
    margin-bottom: 6.69%;
}
.departmentBackground{
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
}
