/* decoline可以用偽元素來用 */
header{
    position: fixed;
    display: flex;
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid rgba(238, 238, 238, 0.5);
    z-index: 3;
}
.logo{
    padding: 26px 35px;
    border-right: 1px solid rgba(238, 238, 238, 0.5);
}
.logo img{
    vertical-align: middle;
}
nav{
    flex-grow: 1;
}
.navMenu{
    display: flex;
    justify-content: space-around;
    padding: 0px 30px;
}
header a{
    text-decoration: none;
    color: #fff;
}
.navBlock a{
    display: block;
    height: 42px;
    padding: 26px;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
}
.navBlock span{
    font-size: 20px;
    font-weight: 900;
}
.newGraduateEntryBlock{
    background-color: #c90129;
}
.midCareerEntryBlock{
    background-color: #7d011a;
}
.newGraduateEntryBlock a, .midCareerEntryBlock a{
    display: inline-block;
    height: 42px;
    padding: 26px 30px;
    font-size: 20px;
    font-weight: 900;
    line-height: 40px;
}
.newGraduateEntryBlock img, .midCareerEntryBlock img{
    width: 60px;
    padding: 0px 0px 3px 10px;
}


.firstPage{
    background-image: url(img/kv_05_pc.jpg.jfif);
    background-size: cover;
}
.firstPage h1{
    display: block;
    padding-top: 53.22vh;
    padding-left: 4.73%;
    padding-bottom: 24.79vh;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    line-height: 30px;
}
.firstPage h1 span:first-child{
    color: #c90129;
    margin-right: 5px;
}
.firstPage h1 span:last-child{
    display: block;
    margin-top: 35px;
    margin-left: -41px;
    font-size: 65px;
    line-height: 70px;
}


.casesPage{
    height: 400vh;
    background-color: #201952;
    position: relative;
}
.rollingBase{
    position: relative;
    height: 100%;
    box-sizing: border-box;
    padding: 120px 0px 0px 90px;
}
.rollingFst, .rollingSec{
    width: 29.6%;
    height: 100%;
    border-right: 1px solid rgba(238, 238, 238, 0.5);
    border-left: 1px solid rgba(238, 238, 238, 0.5);
    position: absolute;
}
.rollingFst{
    top: 0;
    left: 36%;
}
.rollingSec{
    top: 0;
    left: 65.6%;
}
.rollingBase img{
    position: absolute;
    bottom: 0;
    right: 6%;
    z-index: 2;
} 
.casesTitle{
    position: sticky;
    z-index: 1;
    top: 130px;
    height: 100vh;
}
.titleTop{
    display: flex;
}
.titleTop h2{
    font-size: 20px;
    font-weight: 700;
    color:#c90129;
    flex-shrink: 0;
}
/* 要改用偽元素 */
.decoline{
    width: 12%;
    height: 10px;
    margin-left: 2.2%;
    border-bottom: 1px solid rgb(212, 210, 210);
}
.casesTitle .decoTitle-ourCases{
    width: fit-content;
    color: #fff;
    font-size: 170px;
    font-weight: 900;
    line-height: 130px;
}
.casesTitle .decoTitle-ourCases .dTitleUp{
    position: relative;
    top: 130px;
    transform: scaleX(1.2);
    transform: scaleY(1.4);
}
.casesTitle .decoTitle-ourCases .dTitleMid{
    background-color: #201952;
    position: relative;
    transform: scaleX(1.1);
    transform: scaleY(1.2);
}
.casesTitle .decoTitle-ourCases .dTitleBut{
    background-color: #201952;
    position: relative;
    bottom: 130px;
}
.casesTitle p{
    display: block;
    width: calc(36% - 90px);
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
}
.casesTitle p:last-child{
    font-size: 40px;
    line-height: 120px;
}
.casesPage figure{
    position: relative;
    z-index: 2;
}
.casesPage figure img{
    width: 100%;        
}
.casesPage figure figcaption{
    color: #c90129;
    font-size: 25px;
    padding: 5px;
    font-weight: 700;
}
.casesPage figure figcaption span{
    float: right;
    color: #fff;
    font-size: 15px;
    line-height: 25px;
}
.rollingFst figure:first-child{
    top: 28.7%;
}
.rollingFst figure:last-child{
    top: 55.3%;
}
.rollingSec figure:first-child{
    top: 10.6%;
}
.rollingSec figure:last-child{
    top: 37.2%;
}


.jobPage{
    display: flex;
    padding: 137px 0px 137px 98px;
}
.jobPage .jobTitle{
    width: 25%;
    position: relative;
}
.jobTitle .titleTop{
    margin-top: 120px;
}
/* 用偽元素 */
.jobPage .decoline, .staffPage .decoline{
    width: 30%;
    margin-left: 5%;
}
.decoTitle-up, .decoTitle-dw{
    font-size: 100px;
    font-weight: 900;
    line-height: 80px;
    color: #201952;
}
.dTitleUp{
    position: relative;
    transform: scaleX(1.2);
    transform: scaleY(1.3);
}
.dTitleMid{
    position: relative;
    background-color: #fff;
    transform: scaleX(1.1);
    transform: scaleY(1.2);
}
.dTitleBut{
    position: relative;
    background-color: #fff;
}
.decoTitle-up .dTitleUp{
    top: 73px;
}
.decoTitle-up .dTitleBut{
    bottom: 75px;
}
.decoTitle-dw{
    position: absolute;
    top: 240px;
    left: 5px;
}
.decoTitle-dw .dTitleUp{
    top: 90px;
}
.decoTitle-dw .dTitleBut{
    bottom: 83px;
}
.jobPage .depBlock{
    width: 70%;
    display: flex;
    flex-grow: 1;
}
.depBlock div{
    width: 25%;
    border: 1px solid rgb(212, 210, 210);
    box-sizing: border-box;
}
.depBlock a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #fff;
    width: 100%;
    height: 100%;
}
.depBlock div:nth-child(1){
    background-image: url(img/asset\ 9.jpeg);
    background-size: cover;
}
.depBlock div:nth-child(2){
    background-image: url(img/asset\ 10.jpeg);
    background-size: cover;
}
.depBlock div:nth-child(3){
    background-image: url(img/asset\ 11.jpeg);
    background-size: cover;
}
.depBlock div:nth-child(4){
    background-image: url(img/asset\ 12.jpeg);
    background-size: cover;
}
.depBlock div p{
    flex-grow: 1;
    writing-mode: vertical-lr;
    line-height: 30px;
    padding: 25px 0px 0px 25px;
}
.depBlock div p span{
    margin-top: -10px;
    font-size: 50px;
    font-weight: 800;
    line-height: 80px;
}
.depBlock div img{
    width: 50px;
    padding: 20px 0px 20px 30px;
}


.staffPage{
    display: flex;
    border: solid rgb(212, 210, 210);
    border-width: 1px 0px 1px 0px;
}
.staffPage .staffTitle{
    position: relative;
    width: 47.29%;
    padding: 120px 0px 20px 98px; 
    background-color:#201952;
}
.staffPhoto{
    width: 52.71%;
    position: relative;
}
.staffTitle .decoTitle-up,
.staffTitle .decoTitle-dw{
    color: #fff;
}
.staffTitle .dTitleMid,
.staffTitle .dTitleBut{
    background-color: #201952;
}
.staffTitle .decoTitle-dw{
    top: 240px;
    left: 98px;
}
.staffPage .staffInfoBlock{
    margin: 190px 0px 35px 100px;
}
.staffInfoBlock .stuffArea{
    border: 1px solid aqua;
    width: fit-content;
    padding: 10px 10px;
    color: aqua;
    margin-bottom: 40px;
}
.staffInfoBlock .staffInfo{
    color: #fff;
}
.staffInfo p:nth-child(1){
    display: block;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 40px;
}
.staffInfo p:nth-child(n+1){
    line-height: 23px;
}
.staffPhoto .countingArea{
    display: flex;
    justify-content: flex-end;
    margin: 40px 80px 40px 0px;
}
.countingArea{
    font-size: 20px;
}
/* 用偽元素 */
.countingArea .decoline{
    width: 10%;
    margin: 0 2.5%;
}
.photoArea{
    width: 121.5%;
    position: absolute;
    display: flex;
    left: -21.68%;
    
}
.photoArea .majorPhoto{
    width: 35.84%;
}
.majorPhoto img{
    width: 100%;
    vertical-align: middle;
}
.photoArea .otherPhoto{
    width: 64.16%;
    font-size: 0;
    overflow: hidden;
}
.otherPhoto .photoWall{
    white-space: nowrap;

}
.otherPhoto img{
    margin-left: 40px;
}
.photoSwitchBtn div{
    display: inline-block;
    background-color: #c90129;
    width: 100px;
    height: 100px;
    margin: 20px 30px 0px 40px;
    border-radius: 50%;
    overflow: hidden;
}
.photoSwitchBtn img{
    width: 50px;
    margin: 48px 0px 0px 25px;
}
.photoSwitchBtn div:first-child img{
    transform: scaleX(-1);
}