header{
    position: fixed;
    display: flex;
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid rgba(238, 238, 238, 0.5);
    z-index: 3;
}
.logo{
    padding: 1.4vw 1.89vw;
    border-right: 1px solid rgba(238, 238, 238, 0.5);
}
.logo div{
    width: 15.09vw;
}
.logo img{
    width: 100%;
    vertical-align: middle;
}
nav{
    flex-grow: 1;
}
.navMenu{
    display: flex;
    justify-content: space-around;
    padding: 0 1.62vw;
}
header a{
    text-decoration: none;
    color: #fff;
}
.navBlock a{
    display: block;
    height: 2.26vw;
    padding: 1.4vw;
    font-size: 0.65vw;
    font-weight: 500;
    line-height: 1.8em;
}
.navBlock span{
    font-size: 0.97vw;
    font-weight: 900;
}
div.EntryBlock.new{
    background-color: #c90129;
}
div.EntryBlock.mid{
    background-color: #7d011a;
}
.EntryBlock a{
    display: block;
    height: 2.26vw;
    padding: 1.4vw 1.62vw;
    font-size: 0.97vw;
    line-height: 2.26vw;
    font-weight: 900;
}
.EntryBlock img{
    width: 3.23vw;
    padding: 0px 0px 3px 10px;
}
/* ------------------------------------------------------ */

.facePage{
    background-image: url(img/kv_05_pc.jpg.jfif);
    background-size: cover;
}
.facePage h1{
    display: block;
    padding: 27.64vw 0 11.53vw 3.5vw;
    font-size: 1.05vw;
    font-weight: 700;
    color: #fff;
}
.facePage h1 span:first-child{
    color: #c90129;
    margin-right: 0.3em;
}
.facePage h1 span:last-child{
    display: block;
    font-size: 3.47vw;
    margin-top: 0.5em;
    margin-left: -0.5em;
    line-height: 1.3em;
}
/* ----------------------------------------------------- */

.casesPage{
    height: 155.56vw;
    background-color: #201952;
    position: relative;
}
.rollingBase{
    position: relative;
    height: 100%;
    box-sizing: border-box;
    padding: 6.47vw 0 0 4.85vw;
}
.rollingFst, .rollingSec{
    width: 29.6%;
    height: 100%;
    border-right: 1px solid rgba(238, 238, 238, 0.5);
    border-left: 1px solid rgba(238, 238, 238, 0.5);
    position: absolute;
}
.rollingFst{
    top: 0;
    left: 36%;
}
.rollingSec{
    top: 0;
    left: 65.6%;
}
.rollingBase img{
    width: 38.04vw;
    position: absolute;
    bottom: 0;
    right: 6%;
    z-index: 2;
} 
.casesTitle{
    position: sticky;
    z-index: 1;
    top: 7vw;
    height: 100vh;
}
#ourCases{
    display: flex;
    align-items: center;
    font-size: 1.08vw;
    font-weight: 700;
    color:#c90129;
}
#ourCases::after{
    content: '';
    width: 11.58vw;
    height: 1px;
    margin-left: 2em;
    background-color: rgb(212, 210, 210);
}
.casesTitle .decoTitle-ourCases{
    width: fit-content;
    color: #fff;
    font-size: 9.16vw;
    font-weight: 900;
    line-height: 7vw;
}
.casesTitle .decoTitle-ourCases .dTitleUp{
    position: relative;
    top: 7vw;
    transform: scaleX(1.2);
    transform: scaleY(1.4);
}
.casesTitle .decoTitle-ourCases .dTitleMid{
    background-color: #201952;
    position: relative;
    transform: scaleX(1.1);
    transform: scaleY(1.2);
}
.casesTitle .decoTitle-ourCases .dTitleBut{
    background-color: #201952;
    position: relative;
    bottom: 7vw;
}
.casesTitle p{
    display: block;
    width: calc(36% - 4.85vw);
    color: #fff;
    font-size: 1.08vw;
    line-height: 1.62vw;
    font-weight: 500;
}
.casesTitle p:last-child{
    font-size: 2.16vw;
    line-height: 6.47vw;
}
.casesPage figure{
    position: relative;
    z-index: 2;
}
.casesPage figure img{
    width: 100%;        
}
.casesPage figure figcaption{
    color: #c90129;
    font-size: 1.35vw;
    padding: 5px;
    font-weight: 700;
}
.casesPage figure figcaption span{
    float: right;
    color: #fff;
    font-size: 0.81vw;
    line-height: 1.35vw;
}
.rollingFst figure:first-child{
    top: 28.7%;
}
.rollingFst figure:last-child{
    top: 55.3%;
}
.rollingSec figure:first-child{
    top: 10.6%;
}
.rollingSec figure:last-child{
    top: 37.2%;
}
/* ----------------------------------------------------- */

.jobPage{
    display: flex;
    padding: 7.38vw 0vw 7.38vw 5.28vw;
}
.jobPage .jobTitle{
    width: 25%;
    position: relative;
}
.jobTitle .titleTop{
    margin-top: 6.47vw;
}
#ourJob{
    display: flex;
    align-items: center;
    font-size: 1.08vw;
    font-weight: 700;
    color:#c90129;
}
#ourJob::after{
    content: '';
    width: 7.81vw;
    height: 1px;
    margin-left: 2em;
    background-color: rgb(212, 210, 210);
}
.decoTitle-up, .decoTitle-dw{
    font-size: 5.39vw;
    font-weight: 900;
    line-height: 4.31vw;
    color: #201952;
}
.dTitleUp{
    position: relative;
    transform: scaleX(1.2);
    transform: scaleY(1.3);
}
.dTitleMid{
    position: relative;
    background-color: #fff;
    transform: scaleX(1.1);
    transform: scaleY(1.2);
}
.dTitleBut{
    position: relative;
    background-color: #fff;
}
.decoTitle-up .dTitleUp{
    top: 3.93vw;
}
.decoTitle-up .dTitleBut{
    bottom: 4.04vw;
}
.decoTitle-dw{
    position: absolute;
    top: 12.93vw;
    left: 5px;
}
.decoTitle-dw .dTitleUp{
    top: 4.85vw;
}
.decoTitle-dw .dTitleBut{
    bottom: 4.47vw;
}
.jobPage .depBlock{
    width: 70%;
    display: flex;
    flex-grow: 1;
}
.depBlock div{
    width: 25%;
    border: 1px solid rgb(212, 210, 210);
    box-sizing: border-box;
}
.depBlock a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #fff;
    width: 100%;
    height: 100%;
}
.depBlock div:nth-child(1){
    background-image: url(img/asset\ 9.jpeg);
    background-size: cover;
}
.depBlock div:nth-child(2){
    background-image: url(img/asset\ 10.jpeg);
    background-size: cover;
}
.depBlock div:nth-child(3){
    background-image: url(img/asset\ 11.jpeg);
    background-size: cover;
}
.depBlock div:nth-child(4){
    background-image: url(img/asset\ 12.jpeg);
    background-size: cover;
}
.depBlock div h3{
    flex-grow: 1;
    font-size: 0.65vw;
    writing-mode: vertical-lr;
    line-height: 1.62vw;
    padding: 1.35vw 0vw 0vw 1.35vw;
}
.depBlock div h3 span{
    margin-top: -0.54vw;
    font-size: 2.69vw;
    font-weight: 800;
    line-height: 4.31vw;
}
.depBlock div img{
    width: 2.69vw;
    padding: 1.08vw 0vw 1.08vw 1.62vw;
}
/* ----------------------------------------------------- */

.staffPage{
    display: flex;
    border: solid rgb(212, 210, 210);
    border-width: 1px 0px 1px 0px;
}
.staffPage .staffTitle{
    position: relative;
    width: 47.29%;
    padding: 6.47vw 0vw 1.08vw 5.28vw; 
    background-color:#201952;
}
#ourStaff{
    display: flex;
    align-items: center;
    font-size: 1.08vw;
    font-weight: 700;
    color:#c90129;
}
#ourStaff::after{
    content: '';
    width: 7.81vw;
    height: 1px;
    margin-left: 2em;
    background-color: rgb(212, 210, 210);
}
.staffPhoto{
    width: 52.71%;
    position: relative;
}
.staffTitle .decoTitle-up,
.staffTitle .decoTitle-dw{
    color: #fff;
}
.staffTitle .dTitleMid,
.staffTitle .dTitleBut{
    background-color: #201952;
}
.staffTitle .decoTitle-dw{
    top: 12.93vw;
    left: 5.28vw;
}
.staffPage .staffInfoBlock{
    margin: 10.24vw 0vw 1.89vw 5.39vw;
}
.staffInfoBlock .stuffArea{
    font-size: 0.81vw;
    border: 1px solid aqua;
    width: fit-content;
    padding: 0.54vw 0.6vw;
    color: aqua;
    margin-bottom: 2.16vw;
}
.staffInfoBlock .staffInfo{
    color: #fff;
}
.staffInfo p:nth-child(1){
    display: block;
    font-size: 1.4vw;
    font-weight: 700;
    margin-bottom: 2.16vw;
}
.staffInfo p:nth-child(n+2){
    font-size: 0.81vw;
    line-height: 1.24vw;
}
.staffPhoto .countingArea{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 2.16vw 4.32vw 2.16vw 0vw;
}
.countingArea{
    font-size: 1.08vw;
}
/* 用偽元素 margin有推動 content打文字有出現 但是留空卻沒出來 */
/* .countingArea p:first-child::after{
    content: '';
    width: 11.58vw;
    height: 1px;
    margin-left: 2em;
    background-color: rgb(212, 210, 210);
} */
.countingArea .decoline{
    width: 5.39vw;
    height: 1px;
    margin: 0vw 2vw;
    background-color: rgb(212, 210, 210);
}
.photoArea{
    width: 121.5%;
    position: absolute;
    display: flex;
    left: -21.68%;
}
.photoArea .majorPhoto{
    width: 35.84%;
}
.majorPhoto img{
    width: 100%;
    vertical-align: middle;
}
.photoArea .otherPhoto{
    width: 64.16%;
    font-size: 0;
    overflow: hidden;
}
.otherPhoto .photoWall{
    white-space: nowrap;
}
.photoWall a{
    display: inline-block;
    margin-left: 2.16vw;
    width: 15.09vw;
}
.otherPhoto img{
    width: 100%;
    vertical-align: middle;
}
.photoSwitchBtn div{
    display: inline-block;
    background-color: #c90129;
    width: 5.39vw;
    height: 5.39vw;
    margin: 1.08vw 1.62vw 0vw 2.16vw;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.photoSwitchBtn img{
    width: 2.69vw;
    margin: 2.59vw 0vw 0vw 1.35vw;
}
.photoSwitchBtn div:first-child img{
    transform: scaleX(-1);
}
/* ----------------------------------------------------- */
.FAQPage{
    display: flex;
}
.FAQPage .rollingBase{
    width: 38.62vw;
    height: auto;
}
.rollingBase .FAQTitle{
    position: sticky;
    top: 7vw;
}
.FAQTitle .decoTitle-up .dTitleUp{
    top: 4.25vw;
    transform: scaleY(1.55);
}
.FAQTitle .decoTitle-up .dTitleMid{
    transform: scaleY(1.25);
}
.FAQTitle .decoTitle-up .dTitleBut{
    bottom: 4.3vw;
}
.FAQTitle .FAQPic{
    width: 15.08vw;
    margin-left: auto;
    padding: 2.63vw 2.63vw 14.71vw 0vw;
}
.FAQPic img{
    position: static;
    width: 100%;
}
#FAQ{
    display: flex;
    align-items: center;
    font-size: 1.08vw;
    font-weight: 700;
    color:#c90129;
}
#FAQ::after{
    content: '';
    width: 7.81vw;
    height: 1px;
    margin-left: 2em;
    background-color: rgb(212, 210, 210);
}
.FAQPage .FAQCardBlock{
    width: 55.86vw;
    display: flex;
    flex-wrap: wrap;
    gap: 2.08vw;
    padding: 12.61vw 0.84vw 6.31vw 0.84vw;
}
.FAQCardBlock .FAQCard{
    box-sizing: border-box;
    width: 26.01vw;
    padding: 4.2vw 2.1vw 2.1vw 2.1vw;
    border: 1px solid rgb(212, 210, 210);    
}
.FAQCard h3{
    font-size: 1.31vw;
    font-weight: 700;
    color: #c90129;
}
.FAQCard h3 span{
    font-size: 0.95vw;
    color: #201952;
}
.FAQCard p{
    font-size: 0.79vw;
    line-height: 1.5em;
    padding-top: 0.5em;
}
/* ----------------------------------------------------- */

.marqueeBlock div{
    position: relative;
    font-size: 0;
    white-space: nowrap;
    overflow: hidden;
}
.marqueeBlock div img{
    width: 28.69vw;
    vertical-align: middle;
    padding-right: 2.1vw;
}
.marqueeUp img{
    transform: translateX(-40%);
}
.marqueeDw img{
     transform: translateX(-220%);
}
.marqueeBlock .marqueeTxt{
    position: relative;
    z-index: 2;
    font-size: 9.16vw;
    font-weight: 900;
    height: 1em;
    color: #201952;
    white-space: nowrap;
    overflow: hidden;
}
/* overflow的文字就直接切斷，無法像圖片一樣錯位 =>是因為整段被移走*/
/* 將文字段落像圖片一樣接起來再位移 */
.marqueeUp .marqueeTxt{
    margin-top: -0.3em;
}
.marqueeUp .marqueeTxt p{
    display: inline-block;
    transform: translateX(-30%);
}
.marqueeDw .marqueeTxt{
    margin-bottom: -0.3em;
}
.marqueeDw .marqueeTxt p{
    display: inline-block;
    transform: translateX(-50%);
}

.moreInfoAndLinkBlock{
    background-color: #201952;
}
.moreInfoAndLinkBlock .enterpriceInfoBlock{
    border: 1px solid rgba(238, 238, 238, 0.5);
    display: flex;
}
/* 左側圖片嘗試讓背景可以配合右邊資料欄延伸，利用絕對定位使背景圖片可以配合父層做調整 */
.enterpriceInfoBlock .footerLogo{
    width: 26.94vw;
    position: relative;
}
.footerLogo img[src='img/footerLogo.png']{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}
.footerLogo img[src='img/LOGO-nw.png']{
    width: 4.8vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.enterpriceInfoBlock .enterpriceInfo{
    width: 40vw;
    margin: 6.36vw 0vw 6.36vw 5.39vw;
    font-size: 0.81vw;
    font-weight: 700;
    color: rgb(212, 210, 210);
}
.enterpriceInfo>div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1.4vw;
}
.enterpriceInfo a{
    text-decoration: none;
    color: #fff;
    width: 18.05vw;
    line-height: 2.5em;
}
.moreInfoAndLinkBlock .otherLink{
    background-color: #201952;
}
.otherLink a{
    text-decoration: none;
    color: #fff;
    font-size: 0.81vw;
    font-weight: 500;
    line-height: 5em;
    padding-left: 1.29vw;
    padding-right: 1.29vw;
}
.otherLink p{
    float: right;
    color: #fff;
    font-size: 0.81vw;
    font-weight: 500;
    line-height: 5em;
}